@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);


body
{
	font-family: 'Open Sans', sans-serif;
	/*background: url("../img/gray_jean.png");*/
}

	#mobile-header
	{
	    display: none;
	}
	@media only screen and (max-width: 767px)
	{
	    #mobile-header {
	        display: block;
			margin: 10px;
			font-size: 2em;
			text-align: left;
	    }
	}


	.title
	{
		text-align: center;
		height: 180px;
		background: url('../img/logo-artdd.png') no-repeat;
		background-position: bottom center;
		background-size: auto 160px;

	}

	article.gallery
	{
		text-align: center;

		img
		{
			max-width: 24%;
			margin: 5px 4px;
		}
	}

	.centered
	{
		margin: auto;
	}

	.main-search
	{
		font-size: 1.4em;
		position: relative;

		.search-aera
		{
			width: 80%;
			text-align: right;
			display: inline-block;
			position: relative;
			min-height: 60px;
				margin: 0px;

			input[type="text"]
			{
				width: 100%;
				padding: 14px;
				border: 1px solid rgba(0,0,0,0.3);
				border-radius: 3px 0px 0px 3px;
				height: 60px;
				line-height: 35px;

				&+button
				{
					position: absolute;
					top: 0px;
					right: 15px;
					color: #888;
					background-color: transparent;
					border: none;
					outline: none;
					min-height: 60px;
					line-height: 35px;

					&:hover
					{
						transition: all 0.3s;
						color: #555;
					}
				}
			}
		}

		.counter-aera
		{
			padding: 14px;
			position: relative;
			text-align: left;
			background-color: #fff;
			color: #999;
			width: 18%;
			height: 60px;
			line-height: 30px;
			left: -10px;
			display: inline-block;
			border: 1px solid rgba(0,0,0,0.3);
			border-left-color:rgba(0,0,0,0.1);	
			border-radius: 0px 3px 3px 0px;
				margin: 0px;

			.odometer
			{
				color: @brand-primary;
			}
		}

	}

		.main-counter
		{
			text-align: center;
			vertical-align: center;
			img
			{
				max-width: 100%;
			}

			h1, h2
			{
				margin: 0;
				padding: 0px;
			}
			.odometer
			{
				font-size: 8em;
				color: @brand-primary;
			}
			&+.main-counter
			{
				border-left: 1px solid @brand-primary;
			}
		}